@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
    @apply px-3;
}

.bg-primary{
    background:  rgb(10,8,40);
}

.bg-secondary{
    background: rgb(2,0,36);
}

.bg-project{
    background: rgb(20,11,45) ;
}

.mobile-nav{
    @apply  fixed top-10 left-0 bg-sky-300 w-full h-1/3;
}

.mobile-nav li{
    @apply w-full text-center border-b-2 h-full py-3;
}

.project-desc{
    @apply absolute left-0 right-0 top-0 bottom-0 bg-project opacity-0 duration-500 hover:opacity-100
}

.btn{
    @apply bg-sky-400 px-4  py-2 font-hero-font  border-2  rounded;
}

html{
    scroll-behavior: smooth;
}